*{
    overflow-x: hidden;
}
h2{
    font-size: 5vh;
    text-align: center;
}
body{
    background:rgb(0, 0, 255,0.5);
    background-image:url('imgs/watercolorpink.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}
#line_divider{
    width: 50vw;
    height:5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.wrapper{
    width: 100%;
    overflow-x: hidden;
}
.wrapper .container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}
.category-filter{
    margin-top: 40px;
}
h3,span{
    color:black;
}
.filter-btns{
    text-align: center;
}
.filter-btn{
    background: none;
    cursor: pointer;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 30px;
    font-size: 1.5em;
    color: rgb(212, 243, 248);
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    overflow-y: hidden;
    text-shadow: 0 0 5px rgb(75, 188, 219);
}
.filter-btn::after{
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #555;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.filter-btn:hover{
    color:  #bde3fc;
}
.filter-btn:hover::after{
    width: 100%;
}
/* active button */
.active-btn{
    color:  #ecbdfc;
}
.active-btn::after{
    width: 100%;
}
/*  */

.filter-items{
    margin-top: 40px;
}
.item-img{
    position: relative;
    overflow: hidden;
}
img{
    width: 40vw;
    height: 30vh;
}
.item-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(212, 203, 203, 0.1);
}
.item-img img{
    width: 100%;
    display: block;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.filter-item:hover .item-img img{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.item-info{
    padding: 14px 0;
}
.item-info p{
    font-weight: 600;
    font-size: 17px;
    margin-top: 8px;
}
.btn{
    display: block;
    width: 7em;
    height: 3em;
    line-height: 3em;
    font-size: 1em;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    border: .5vh solid rgb(35, 115, 200);
    text-align: center;
    transition: all .35s;
    overflow-y: hidden; 
    background:lightskyblue;
    position: relative;
    border-radius:1em;
  }
  
  .btn span{
    position: relative;
    z-index: 2;
    color:white;
  }
  
  .btn:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(190, 226, 249);
    transition: all .35s;
  }
  .btn:hover{
    color: white;
  }
  .btn:hover:after{
    width: 100%;
  }
  .btn span:after{
    color:white;
  }


.filter-items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.filter-item{
    width: 100%;
    margin-bottom: 40px;
    -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (min-width: 768px){
    .filter-item{
        width: calc(50% - 30px);
    }
}

@media screen and (min-width: 992px){
    .filter-item{
        width: calc(33.3333% - 30px);
    }
}

@media screen and (min-width: 1200px){
    .filter-item{
        width: calc(25% - 30px);
    }
}